body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://2.bp.blogspot.com/-QjZjeCOV8LY/TaTN0xYPXWI/AAAAAAAAA4c/8p8B-QMqrgM/s1600/heart+bokeh.jpg"); */
  background-image: url("https://d2hhj3gz5jljkm.cloudfront.net/wallpapers2/094/608/460/032/original/file.jpg");
  color: #7959D5;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
